
<head>
  <title>Gem Check — Writing Better Ruby Gems Checklist</title>
  <meta name="viewport" content="width=device-width"/>
  <meta charset="UTF-8"/>
  <link rel="stylesheet" href="./main.css"/>
  <meta itemprop="name" content="Gem Check"/>
  <meta property="og:title" content="Gem Check"/>
  <meta name="description" content="Writing Better Ruby Gems Checklist"/>
  <meta itemprop="description" content="Writing Better Ruby Gems Checklist"/>
  <meta property="og:description" content="Writing Better Ruby Gems Checklist"/>
  <meta itemprop="image" content="http://gemcheck.evilmartians.io/images/banner.png"/>
  <meta property="og:image" content="http://gemcheck.evilmartians.io/images/banner.png"/>
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:site" content="@evilmartians"/>
  <meta name="twitter:creator" content="@evilmartians"/>
  <meta property="og:site_name" content="Gem Check"/>
  <meta name="keywords" content="ruby, gems, checklist, open-source"/>
  <link rel="apple-touch-icon" sizes="180x180" href="./images/apple-touch-icon.png"/>
  <link rel="icon" type="image/png" href="./images/favicon.ico" sizes="32x32"/>
  <link rel="icon" type="image/png" href="./images/favicon.ico" sizes="16x16"/>
  <link rel="manifest" href="/manifest.json"/>
  <meta name="theme-color" content="#000000"/>
</head>