$default-font-fallback: "Arial", sans-serif;
$default-font: "Stem Text", $default-font-fallback;

$code-font-fallback: "Menlo", monospace;
$code-font: "Fira Code", $default-font-fallback;
$code-bg: #232323;
$code-color: #e6e1dc;


$default-color: #363636;
$grey-text: #9e9e9e;
$red: #ff5e5e;
$dark-red: #f64242;
$martian-green: #9fa628;


$grey: #e3e3e3;

$footer-bg: #363636;

$gap-s: 20px;
