if env === 'development'
  script(src="./jspm_packages/system.js", type='text/javascript')
  script(src="./jspm.config.js", type='text/javascript')
  script(type='text/javascript').
    System.import('index');
else
  script(src="./js/app.min.js", type="text/javascript")

block scripts

//- include ./ga.html

.footer
  //- .footer--block
  //-   h3 Project
  //-   p.footer--list--item
  //-     a(href="https://github.com/palkan/gemcheck") GitHub

  //- .footer--block
  //-   h3 Resources
  //-   p.footer--list--item
  //-     a(href="https://evilmartians.com/chronicles/anycable-actioncable-on-steroids") AnyCable Story
  //-   p.footer--list--item
  //-     a(href="https://github.com/anycable/anycable/wiki") Wiki

  .footer--block.legals
    p
      span.copyright 2017 
      a(href="https://twitter.com/palkan_tula") Vladimir Dementyev
      |  & 
      a(href="https://evilmartians.com") Evil Martians

    .footer--humanoids
      include ../layout/humanoids
