script(type="text/javascript")
  | if (sessionStorage.fontsLoaded) {
  |   document.documentElement.classList.add('fonts-loaded');
  | }

.nav
  a.nav--btn(href="https://github.com/palkan/gem-check")
    span.nav--btn--icon
      include ../images/github.svg
    span CONTRIBUTE
